body {
	background-image: url('asfalt.png');
	overflow: hidden;
}

p {
	z-index: 100;
	text-shadow: 0 0 0.2em #C11D24, 0 0 0.2em #C11D24;
	position: absolute;
	bottom: 300px;
	text-align: center;
	width: 100%;
	color: white;
	font-size: 60pt;
	font-family: 'freebooter_scriptregular';
}

b {
	font-size: 160pt;
	font-weight: normal;
}

.mask {
	-webkit-mask: url('loose.png') top left / contain no-repeat;
}

.tight-mask {
	-webkit-mask: url('tight.png') top left / contain no-repeat;
}

img {
	position: absolute;
	-webkit-transition: 1s ease-in-out all;
  	transition: 1s ease-in-out all;
}

.fullscreen {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	overflow: hidden;
}

.ng-enter, 
.ng-leave, 
.ng-move {
  -webkit-transition: 1s ease-in-out all;
  transition: 1s ease-in-out all;
}

.ng-enter {
  opacity:0;
}
.ng-enter.ng-enter-active {
  opacity:1;
}

.ng-leave {
  opacity:1;
}
.ng-leave.ng-leave-active {
  opacity:0;
}